/* Conteneur général */
.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 80%; 
  margin-left: auto; 
  margin-right: auto;
  height: auto; 
}

/* Conteneur des cartes */
.dashboard-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  margin: 0; 
  padding-top: 0; 
  width: 90%;
  margin-left: auto; 
  margin-right: auto;
  height: auto; 
}

@media (min-width: 640px) {
  .dashboard-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .dashboard-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Cartes individuelles */
.dashboard-card {
  background: rgba(255, 255, 255, 0.5);
  padding: 1.25rem;
  border-radius: 1.5rem;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dashboard-card:hover {
  transform: scale(1.1);
}

.dashboard-card-icon {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
}

.dashboard-card-icon.bg-blue {
  background-color: #93c5fd;
  color: #1e40af;
}

.dashboard-card-icon.bg-emerald {
  background-color: #6ee7b7;
  color: #065f46;
}

.dashboard-card-icon.bg-rose {
  background-color: #fda4af;
  color: #881337;
}

.dashboard-card-content {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.dashboard-card-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dashboard-card-text-label {
  font-size: 1.125rem;
  font-weight: 600;
  color: #4b5563;
}

.dashboard-card-text-amount {
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
}

.dashboard-card-stats {
  margin-top: 1rem;
  text-align: center;
}

.dashboard-card-stats-value {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  font-size: 1.125rem;
  font-weight: 600;
}

/* Conteneur pour le graphique et les transactions */
.dashboard-chart-container {
  display: flex;
  justify-content: space-between; 
  gap: 2rem;
  flex-wrap: wrap; 
}

/* Section du graphique */
.dashboard-chart {
  background: rgba(255, 255, 255, 0.5);
  padding: 1.5rem; 
  border-radius: 1rem; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 400px; 
  margin-left: auto; 
}

.dashboard-chart-title {
  font-size: 1.25rem; 
  font-weight: bold; 
  color: #2c3e50; 
  text-align: center;
  border-bottom: 2px solid #3498db; 
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

/* Responsive container pour le graphique */
.dashboard-chart .recharts-wrapper {
  width: 100%;
  max-width: 300px; 
}

/* Section des dernières transactions */
.dashboard-transactions {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1.5rem;
  margin-top: 3rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 550px;
  max-height: 400px; 
  overflow-y: auto; 
}


.dashboard-transactions-title {
  font-size: 1.25rem; 
  font-weight: bold; 
  color: #2c3e50;
  text-align: center;
  border-bottom: 2px solid #3498db; 
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.dashboard-transactions-table {
  width: 100%;
  border-collapse: collapse;
}

.dashboard-transactions-table th,
.dashboard-transactions-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.dashboard-transactions-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.dashboard-transactions-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.dashboard-transactions-table tr:hover {
  background-color: #f1f1f1;
}

.dashboard-transactions-table td {
  font-size: 14px;
}

.dashboard-transactions-table td:nth-child(4) {
  font-weight: bold;
  color: #555;
}

/* Responsive */
@media (max-width: 768px) {
  .dashboard-chart-container {
    flex-direction: column;
    gap: 1.5rem;
  }

  .dashboard-chart,
  .dashboard-transactions {
    max-width: 100%;
  }
}
